$color-gray = rgba(0,0,0,.5)
.header-wrap
  position relative
  text-align center
  width 100%
  height 400px
  background url('images/bg.jpg') center center no-repeat
  background-size 100% auto
.header-en
  color #fff
  display block
  font-weight normal
  font-size 3rem
  padding-top 90px
  margin 0
.header-title
  color #fff
  display inline-block
  font-size 2.8rem
  font-weight 500
  letter-spacing 5px
  margin-top 10px
  padding 5px 10px
  border-radius 3px
.header-button-wrap
  margin-top 10px
.header-button
  color #fff
  padding 6px 20px
  border-radius 3px
  border 1px solid #fff
  cursor pointer
  font-size 1.2em
  transition all 0.3s
  text-decoration none
  &:hover
    color $color-gray
    background-color #fff

@media screen and (max-width: 850px)
  .header-wrap
    height 360px
@media screen and (max-width: 740px)
  .header-wrap
    height 300px
  .header-en
    padding-top 50px
@media screen and (max-width: 600px)
  .header-title
    font-size 2.4rem
  .header-wrap
    background-size auto 100%
  .header-button
    color $color-gray
    background-color #fff
