$color-gray = rgba(0,0,0,.5)
.header-wrap
  position relative
  text-align center
  width 100%
  height 400px
  background url('images/bg.jpg') 0 0 no-repeat
  background-size 100% auto
.header-title
  color #fff
  background-color $color-gray
  display inline-block
  font-size 2rem
  font-weight bold
  text-align center
  letter-spacing 5px
  margin-top 120px
  padding 5px 10px
  border-radius 3px
.header-button-wrap
  margin-top 40px
.header-button
  color #fff
  padding 6px 15px
  border-radius 3px
  border 2px solid #fff
  cursor pointer
  font-size 1.2em
  letter-spacing 2px
  transition all 0.3s
  &:hover
    color $color-gray
    background-color #fff
