$color-modal = #1E5A77
.modal-wrap
  position fixed
  background-color rgba(0,0,0,0.6)
  left 0
  top 0
  width 100%
  height 100%
  opacity 0
  display none
  z-index: 10
.modal-show
  opacity 1
  display block

$dialog-w = 880px
$dialog-h = 450px
.modal-dialog
  position absolute
  display block
  width $dialog-w
  background-color #fff
  position absolute
  margin-left -($dialog-w/2)
  z-index 11
  height $dialog-h
  border-radius 3px
  left 50%
  top 50%
  transform translateY(-50%)
.modal-job-list
  overflow-y auto
  height $dialog-h - 80px
.modal-container
  padding 12px 15px
  position relative
.modal-title
  margin 0
  font-size 1.5rem
  color $color-modal
.modal-close
  position absolute
  font-size 1.5rem
  color $color-modal
  right 15px
  top 10px
.modal-item
  display none
