.footer-wrap
  height 400px
  text-align center
  color #fff
  background url('./images/bg.jpg') 0 center no-repeat
  background-size 100% auto
  .footer-title
    padding-top 20px
    font-size 2rem
  .footer-logo
    display inline-block
    padding-top 70px
    width 230px
    img
      width 100%
  .footer-apply
    margin-top 70px
    font-size 1.3rem
  .footer-email
    a
      color #00FFF5
      padding-left 8px
      &:hover
        color #00A6A0
@media screen and (max-width: 850px)
  .footer-wrap
    background-size auto 100%
@media screen and (max-width: 768px)
  .footer-wrap .footer-title
    font-size 1.5rem
