@import './vendor/style/normalize.css'

body
  font-family Arial,"DIN Next Ultra Light","Helvetica Neue",Helvetica, "Lantinghei SC","Hiragino Sans GB",STHeiti, "Noto Sans S Chinese", "Microsoft Yahei", "Microsoft Sans Serif", "WenQuanYi Micro Hei",sans-serif
  overflow-x hidden
  -webkit-font-smoothing antialiased
  font-size 16px
