.positions-wrap
  background-color #F3F6F9
  padding-bottom 50px
.positions-title
  background url('images/positionbg.jpg') 0 center no-repeat
  background-size 100% auto
  background-position center center
  color #fff
  line-height 170px
  font-size 2.5rem
  letter-spacing 8px
.position-group-name
  position relative
  font-size 1.1rem
  font-weight normal
  text-align: left
  letter-spacing 2px
  padding-left 20px
  .squre
    position absolute
    display inline-block
    top 0
    left 0
    width 10px
    height 25px
    background-color #62b1cb
    border-radius 3px
.positions-item a
  display inline-block
  color #303030
  text-decoration none
  width 100%
  background-color #aeaeae
  margin-bottom 20px
  line-height 50px
  font-size 1.3em
  border-radius 3px
  background-color #fff
  border 1px solid #000
  transition all 0.3s
  &:hover
    color #fff
