.culture-wrap
  padding: 20px 0
.culture-list
  text-align center
.culture-item
  margin-bottom 25px
  text-align left
  &:nth-child(1) .squre
    background-color #62b1cb
  &:nth-child(2) .squre
    background-color #e0855c
  &:nth-child(3) .squre
    background-color #e6626c
  &:nth-child(4) .squre
    background-color #68c0a0
.culture-item-title
  position relative
  padding-left 20px
  font-size 1.2rem
  font-weight bold
  margin-bottom 5px
  .squre
    position absolute
    display inline-block
    top 0
    left 0
    width 10px
    height 25px
    background-color #62b1cb
    border-radius 3px
.culture-item-des
  padding-left 20px
  color #6f6f6f
.imagesList
  .image
    margin-bottom 23px
    position relative
    width 49%
    .img-bg
      position absolute
      width 100%
      height 100%
      top 0
      left 0
      background-color #62b1cb
      opacity 0
      transition all .5s ease
      z-index 10
    .img-title
      position absolute
      top 0
      left 50%
      padding 8px 15px
      font-size 1.4rem
      color #fff
      transform translate(-50%,-50%)
      opacity 0
      transition all .5s ease
      z-index 11
    &:hover .img-bg
      opacity .7
      transition all .5s ease
    &:hover .img-title
      opacity 1
      top 50%
      transition all .5s ease
    &:nth-child(2n)
      margin-left 2%
  img
    width 100%
    float left
.culture-img
  width 100%
